{{ $absURL := .Site.BaseURL }}

<div class="w-full flex items-center justify-center">
    <div class="w-full">
      <div class="md:flex lg:space-x-5 xl:space-x-10 items-center py-2">
        <div
          class="text-5xl sm:text-7xl lg:text-8xl xl:text-9xl text-center md:text-left text-gray-400 font-poppins font-semibold pb-5 md:pb-0">
            ENGAGEMENT
        </div>
        <div class="text-lg xl:text-xl text-center font-light p-2 md:p-10">
          <!-- I am a software engineer and manager with a passion for building and leading high-performing teams. I have a strong background in software development, architecture, and project management.I strive in delivering high-quality software solutions on time and within budget. -->
        </div>
      </div>
      <div class="md:flex items-center justify-center py-2 space-x-5 xl:space-x-10">
        <div class="items-center justify-center flex p-5 md:p-0">
          <!-- <img
            class="w-28 xl:w-36 rounded-full"
            src="{{ $absURL }}img/me.png"
            alt="Al-ameen Musa"
            title="Al-ameen Musa"
             /> -->
        </div>
        <div
          class="text-3xl sm:text-7xl lg:text-8xl xl:text-9xl text-gray-100 font-outline-2 lg:font-outline-3 text-center md:text-right font-poppins font-semibold py-5 md:py-0">
          COMMUNITY
        </div>
      </div>
      <div class="md:flex lg:space-x-5 xl:space-x-10 items-center py-2">
        <div class="text-lg xl:text-xl text-center font-light p-2 md:p-10">
        Make your website more interactive and engaging by adding features that encourage users to interact with your content. This can include social media integration, live chat support, interactive forms, and more.
        </div>
        <div
          class="text-3xl sm:text-7xl lg:text-8xl xl:text-9xl text-gray-600 text-center md:text-right font-poppins font-semibold py-5 md:py-0">
            INNOVATION
        </div>
      </div>
    </div>
  </div>
  <div class="text-lg xl:text-xl text-center font-light p-2 md:p-10">
        Be the first to use our new and innovative features. We are constantly working on new ideas and features to make your website more engaging and interactive. Stay tuned for updates and be the first to try out our latest innovations.
  </div>